<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../includes/head') %>
        <style>
            #nuevoUsuarioForm {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 20px;
                z-index: 1000;
            }

            #cerrarPopupBtn {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            /* Tu estilo aqu칤 */
        </style>
</head>

<header class="header">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <a class="menu-item" href="/Crud-Completo-con-NodeJS-Express-y-MySQL">Inicio</a>
        </li>
        <li>
            <a class="menu-item" href="/salas-admin">Salas</a>
        </li>
        <li>
            <a class="menu-item" href="/Crud-usuarios">Lista Usuarios</a>
        </li>
        <li>
            <a href="/lista-Peliculas">Peliculas</a>
        </li>
      </ul>
      <ul>
        
    </ul>
   <ul>
        <li class="menu-item-right">
            <a class="menu-item" href="/">Cerrar sesi칩n</a>
        </li>
    </ul>
</header>

<body>
    <div class="container" style="margin-top: 80px !important">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 mt-2 text-center">
                <h2 class="title">Usuarios</h2>
                <div class="col-md-3">
                    <label class="invisible">Bot칩n Formulario</label>
                    <a href="javascript:void(0);" class="btn btn-primary btn-block" onclick="togglePopup()">A침adir
                        Usuario</a>
                </div>
            </div>
        </div>
    </div>

    <div id="nuevoUsuarioForm" class="col-md-5 py-3 custom_table mx-auto">
        <form id="formNuevoUsuario" action="/usuarios" method="POST" onsubmit="return validarNuevoUsuario()">
            <h2 class="text-center title">Registrar Usuario</h2>
            <!--Balidaciones bien-->
            <!-- Campos del formulario -->
            <div class="mb-3">
                <label for="nombre_usuario" class="form-label">Nombre de Usuario</label>
                <input type="text" name="nombre_usuario" id="nombreUsuario" class="form-control" pattern="[A-Za-z]+"
                    required />
            </div>
            <div class="mb-3">
                <label for="contrasena_encriptada" class="form-label">Contrase침a</label>
                <input type="password" name="contrasena_encriptada" id="contrasena" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirmar_contrasena" class="form-label">Confirmar Contrase침a</label>
                <input type="password" name="confirmar_contrasena" id="confirmarContrasena" class="form-control"
                    required>
            </div>
            <div class="mb-3">
                <label for="tipo_usuario">Tipo de Usuario</label>
                <select name="tipo_usuario" id="tipoUsuarioSelect" class="form-select" required>
                    <option value="">Seleccionar tipo de usuario</option>
                    <option value="super admin">Super Admin</option>
                    <option value="taquillero">Taquillero</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="estado">Estado</label>
                <select name="estado" id="estadoUsuarioSelect" class="form-select" required>
                    <option value="">Seleccionar estado</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-12 mx-auto ">
                    <button class="btn btn-primary" type="submit">Registrar Usuario</button>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
                    <button class="btn btn-danger" type="button" onclick="cerrarPopup()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="mensajeNoEncontrado" class="alert alert-warning mt-3" style="display: none;">Usuario no encontrado.
    </div>

    <div class="col-md-8 py-3 custom_table mx-auto">
        <form id="filterForm" class="mb-3">
            <!-- Buscador -->
            <div class="input-group mb-2">
                <input type="text" id="busquedaUsuario" name="busquedaUsuario" class="form-control"
                    placeholder="Ingrese nombre de usuario">
                <button type="button" onclick="filtrarUsuarios()" class="btn btn-outline-secondary">游댍</button>
            </div>

            <!-- Filtros -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="tipoUsuario" class="form-label">Tipo de Usuario</label>
                    <select id="tipoUsuario" name="tipoUsuario" class="form-select">
                        <option value="">Tipo</option>
                        <option value="super admin">Super Admin</option>
                        <option value="taquillero">Taquillero</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="estadoUsuario" class="form-label">Estado de Usuario</label>
                    <select id="estadoUsuario" name="estadoUsuario" class="form-select">
                        <option value="">Estado</option>
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>
            </div>
        </form>
        <!-- Contenido de tu p치gina -->
        <div class="container">
            <!-- Tabla de Usuarios -->
            <table id="tablaUsuarios" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Usuario</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <% let contador = 1; %>
                    <% usuarios.forEach(function(usuario) { %>
                    <tr class="filaUsuario">
                        <th scope="row"><%= contador %></th>
                        <td class="nombreUsuario"><%= usuario.nombre_usuario %></td>
                        <td class="tipoUsuario"><%= usuario.tipo_usuario %></td>
                        <td class="estadoUsuario"><%= usuario.estado %></td>
                        <td>
                            <span>
                                <a class="btn btn-success success_especial" title="Editar datos del Usuario"
                                    href="/formulario-actualizar-usuario/<%= usuario.id_usuario %>">
                                    Editar
                                </a>
                                <form id="formEliminarUsuario<%= usuario.id_usuario %>"
                                    action="/borrar-usuario/<%= usuario.id_usuario %>" method="POST"
                                    style="display: inline;">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <button type="button" class="btn btn-danger" onclick="confirmarEliminarUsuario('<%= usuario.id_usuario %>', '<%= usuario.tipo_usuario %>')">
                                        Eliminar
                                    </button>                            
                                </form>
                            </span>
                        </td>
                    </tr>
                    <% contador++; %>
                    <% }); %>
                </tbody>
                <!--paginado-->
            </table>
            <div class="col-md-6 text-end">
                <!-- Alineado a la derecha -->
                <nav aria-label="Paginaci칩n">
                    <ul class="pagination justify-content-end">
                        <!-- Alineado a la derecha -->
                        <li class="page-item" id="paginacionAnterior">
                            <a class="page-link" href="#" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" id="paginacionSiguiente">
                            <a class="page-link" href="#" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>

 <!-- Agrega los scripts al final del cuerpo del documento -->
 <script>
    // Variables para controlar la paginaci칩n
    var currentPage = 1;
    var usersPerPage = 5;
    var usuarios = JSON.parse('<%- JSON.stringify(usuarios) %>'); // Obt칠n los usuarios de tu backend

    // Funci칩n para mostrar los usuarios en la tabla seg칰n la p치gina actual
    function mostrarUsuarios() {
        var startIndex = (currentPage - 1) * usersPerPage;
        var endIndex = startIndex + usersPerPage;
        var totalUsuarios = usuarios.length;

        // Oculta todas las filas de usuarios
        var filasUsuarios = document.querySelectorAll('.filaUsuario');
        filasUsuarios.forEach(function(fila) {
            fila.style.display = 'none';
        });

        // Muestra las filas correspondientes a la p치gina actual
        for (var j = startIndex; j < endIndex && j < totalUsuarios; j++) {
            filasUsuarios[j].style.display = '';
        }
    }

    // Funci칩n para manejar el clic en el bot칩n de p치gina anterior
    document.getElementById('paginacionAnterior').addEventListener('click', function(event) {
        event.preventDefault();
        if (currentPage > 1) {
            currentPage--;
            mostrarUsuarios();
        }
    });

    // Funci칩n para manejar el clic en el bot칩n de p치gina siguiente
    document.getElementById('paginacionSiguiente').addEventListener('click', function(event) {
        event.preventDefault();
        var totalPages = Math.ceil(usuarios.length / usersPerPage);
        if (currentPage < totalPages) {
            currentPage++;
            mostrarUsuarios();
        }
    });

    // Mostrar usuarios cuando se carga la p치gina
    window.addEventListener('load', function() {
        mostrarUsuarios();
    });
</script>
<!-- Agrega los enlaces a tus scripts de SweetAlert y otros aqu칤 -->
    <script>
        function validarNuevoUsuario() {
            // Validaciones del nuevo usuario
            var contrasena = document.getElementById('contrasena').value;
            var confirmarContrasena = document.getElementById('confirmarContrasena').value;
            var tipoUsuarioSelect = document.getElementById('tipoUsuarioSelect').value;
            var estadoUsuarioSelect = document.getElementById('estadoUsuarioSelect').value;

            if (contrasena !== confirmarContrasena) {
                Swal.fire({
                    icon: 'error',
                    title: 'Las contrase침as no coinciden',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false; // Evita que el formulario se env칤e
            }

            if (!tipoUsuarioSelect || !estadoUsuarioSelect) {
                Swal.fire({
                    icon: 'error',
                    title: 'Por favor, selecciona un tipo de usuario y un estado',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false; // Evita que el formulario se env칤e
            }

            return true; // Env칤a el formulario si todas las validaciones son exitosas
        }

    </script>
    <!-- Agrega este enlace al SweetAlert CDN en tu <head> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmarEliminarUsuario(idUsuario, tipoUsuario) {
            if (tipoUsuario === 'super admin') {
                Swal.fire({
                    icon: 'error',
                    title: 'No se puede eliminar',
                    text: 'Los super admin no pueden ser eliminados.',
                    showConfirmButton: false,
                    timer: 2000
                });
            } else {
                Swal.fire({
                    title: '쮼st치s seguro?',
                    text: 'Esta acci칩n no se puede deshacer.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'S칤, eliminarlo'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realiza la eliminaci칩n solo despu칠s de la confirmaci칩n
                        var form = document.getElementById(`formEliminarUsuario${idUsuario}`);
                        form.submit();
                    }
                });
            }
        }
    </script>
    
    <script>
        function togglePopup() {
            var nuevoUsuarioForm = document.getElementById('nuevoUsuarioForm');
            nuevoUsuarioForm.style.display = (nuevoUsuarioForm.style.display === 'none' || nuevoUsuarioForm.style.display === '') ? 'block' : 'none';
        }
    
        function cerrarPopup() {
            document.getElementById('nuevoUsuarioForm').style.display = 'none';
        }
    
        function confirmarEliminarUsuario(idUsuario, tipoUsuario) {
            if (tipoUsuario === 'super admin') {
                Swal.fire({
                    icon: 'error',
                    title: 'No se puede eliminar',
                    text: 'Los super admin no pueden ser eliminados.',
                    showConfirmButton: false,
                    timer: 2000
                });
            } else {
                Swal.fire({
                    title: '쮼st치s seguro?',
                    text: 'Esta acci칩n no se puede deshacer.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'S칤, eliminarlo'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realiza la eliminaci칩n solo despu칠s de la confirmaci칩n
                        var form = document.getElementById(`formEliminarUsuario${idUsuario}`);
                        form.submit();
                    }
                });
            }
        }
    
        function validarNuevoUsuario() {
            // Validaciones del nuevo usuario
            var contrasena = document.getElementById('contrasena').value;
            var confirmarContrasena = document.getElementById('confirmarContrasena').value;
    
            if (contrasena !== confirmarContrasena) {
                Swal.fire({
                    icon: 'error',
                    title: 'Las contrase침as no coinciden',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false; // Evita que el formulario se env칤e
            }
        }
    
        function filtrarUsuarios() {
            var tipoUsuario = document.getElementById('tipoUsuario').value.toLowerCase();
            var estadoUsuario = document.getElementById('estadoUsuario').value.toLowerCase();
            var busquedaUsuario = document.getElementById('busquedaUsuario').value.trim().toLowerCase();
            var regex = /^[A-Za-z]+$/;
    
            // Validar que se haya ingresado un nombre de usuario
            if (busquedaUsuario === '') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Ingrese un usuario',
                    text: 'Por favor, ingrese el nombre de usuario que desea buscar.'
                });
                return;
            }
    
            if (!regex.test(busquedaUsuario)) {
                // Mostrar SweetAlert para el mensaje de error
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Ingrese solo letras en el campo de b칰squeda.'
                });
    
                // Limpiar el campo de b칰squeda
                busquedaUsuarioInput.value = '';
    
                return;
            }
    
            var tabla = document.getElementById('tablaUsuarios');
            var filas = tabla.getElementsByTagName('tr');
    
            var usuariosEncontrados = false;
    
            for (var i = 1; i < filas.length; i++) {
                var mostrarFila = true;
    
                var nombreUsuario = filas[i].getElementsByClassName('nombreUsuario')[0].textContent.trim().toLowerCase();
                var tipoUsuarioFila = filas[i].getElementsByClassName('tipoUsuario')[0].textContent.trim().toLowerCase();
                var estadoUsuarioFila = filas[i].getElementsByClassName('estadoUsuario')[0].textContent.trim().toLowerCase();
    
                if (tipoUsuario && tipoUsuarioFila !== tipoUsuario) {
                    mostrarFila = false;
                }
    
                if (estadoUsuario && estadoUsuarioFila !== estadoUsuario) {
                    mostrarFila = false;
                }
    
                if (busquedaUsuario && nombreUsuario.indexOf(busquedaUsuario) === -1) {
                    mostrarFila = false;
                }
    
                filas[i].style.display = mostrarFila ? '' : 'none';
    
                if (mostrarFila) {
                    usuariosEncontrados = true;
                }
            }
    
            // Mostrar mensaje si no se encontraron usuarios usando SweetAlert
            if (!usuariosEncontrados) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Usuario no encontrado',
                    text: 'No se encontraron usuarios que coincidan con la b칰squeda.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Recargar la p치gina despu칠s de 1.5 segundos
                    setTimeout(() => {
                        location.reload();
                    }, 450);
                });
            }
        }
    </script>
    
    
    <script>
        // Variables para controlar la paginaci칩n
        var currentPage = 1;
        var usersPerPage = 4;
        var usuarios = JSON.parse('<%- JSON.stringify(usuarios) %>'); // Obt칠n los usuarios de tu backend
    
        // Funci칩n para mostrar los usuarios en la tabla seg칰n la p치gina actual
        function mostrarUsuarios() {
            var startIndex = (currentPage - 1) * usersPerPage;
            var endIndex = Math.min(startIndex + usersPerPage, usuarios.length);
            var totalUsuarios = usuarios.length;
    
            // Oculta todas las filas de usuarios
            var filasUsuarios = document.querySelectorAll('.filaUsuario');
            filasUsuarios.forEach(function(fila) {
                fila.style.display = 'none';
            });
    
            // Muestra las filas correspondientes a la p치gina actual
            for (var j = startIndex; j < endIndex; j++) {
                filasUsuarios[j].style.display = '';
            }
        }
    
        // Funci칩n para manejar el clic en el bot칩n de p치gina anterior
        document.getElementById('paginacionAnterior').addEventListener('click', function(event) {
            event.preventDefault();
            if (currentPage > 1) {
                currentPage--;
                mostrarUsuarios();
            }
        });
    
        // Funci칩n para manejar el clic en el bot칩n de p치gina siguiente
        document.getElementById('paginacionSiguiente').addEventListener('click', function(event) {
            event.preventDefault();
            var totalPages = Math.ceil(usuarios.length / usersPerPage);
            if (currentPage < totalPages) {
                currentPage++;
                mostrarUsuarios();
            }
        });
    
        // Mostrar usuarios cuando se carga la p치gina
        window.addEventListener('load', function() {
            mostrarUsuarios();
        });
    </script>
    
    

    </div>
</body>
</html>
<style>
    /* Estilos generales del formulario */
    form {
        padding: 15px;
    }
  </style>